@import url('https://fonts.googleapis.com/css?family=Schoolbell|Walter+Turncoat&display=swap');

:root {
  --black: #333;

  --lgFont: 'Walter Turncoat', cursive;
  --smFont: 'Schoolbell', cursive;
}

body {
  font-size: 125%;
  color: var(--black);
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-family: var(--smFont);
}

h1 {
  font-family: var(--lgFont);
}

img {
  display: block;
  max-width: 100%;
  width: 300px;
}

ul {
  list-style: none;
}

li {
  border: 1px solid #000;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  height: 100vh;
}

header .wrapper {
  display: flex;
}

textarea {
  resize: none;
  width: 450px;
  height: 350px;
  padding: 50px;
  border: 1px solid #000;
  background-image: url(./image/parchemin.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 2.0rem;
}

/* NEED TO STYLE! */
textarea:valid {
  /* color: green; */
}

textarea:invalid {
  /* background: palegoldenrod; */
}



