article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css?family=Schoolbell|Walter+Turncoat&display=swap');

:root {
  --black: #333;
  --white: #fefeff;
  --yellow: #d0b38b;
  --blue: #323161;

  --lgFont: 'Walter Turncoat', cursive;
  --smFont: 'Schoolbell', cursive;
}

/* #f5f8ff */

body {
  margin: 0;
  font-size: 125%;
  color: var(--black);
  font-family: var(--smFont);

}

.app {
  background-color: var(--white);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239294ac' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


h1 {
  font-family: var(--lgFont);
  color: var(--blue);
}



h1,
.headerContent p {
  text-align: center;
}

header p {
  text-shadow: 0.5px 0.5px 1px var(--black);
}

img {
  display: block;
  max-width: 100%;
  width: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid #000;
}

a {
  text-decoration: none;
  color: var(--black)
}

.wrapper {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  /* display: flex; */
  justify-content: space-between;
}

header .wrapper {
  /* height: 100vh; */
  position: relative;
}

picture {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1;   */
}

picture .smallImg {
  /* border: 1px solid #000; */
  width: 25%;
}

.headerContent {
  /* border: 1px solid #000; */
  padding-top: 80px;
  /* background: linear-gradient(to left, rgba(208, 179, 139, 0.7), rgba(208, 179, 139, 0.7)); */
}

.headerContent h1 {
  font-size: 3.0rem;
  animation: blink 1.5s infinite linear;
  color: var(--blue);
}

@keyframes blink {   

  0% {
    text-shadow:  -0.2rem -0.2rem 1rem var(--blue);
  }
  
  19% {
    text-shadow: 0.2rem 0.2rem 1rem var(--blue);
  } 
  
  20% {
    text-shadow: none;
  }

  21% {
    text-shadow: 0 0 2rem blue;
  }
  
  22% {
    text-shadow: none;
  }

  23% {
    text-shadow: 0 0 4rem blue;
  }
  
  25% {
    text-shadow: none;
  }

  50% {
    text-shadow: 0 0 6rem blue;
  }

  75% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 4rem blue;
  }
}
.headerContent p {
  font-size: 1.6rem;
}

.subTitle {
  margin-bottom: 0;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
}

.inputArea {
  position: relative;
  height: 770px;
  width: 100%;
  border: 1px solid #000;
}

textarea,
.parchemin {
  height: 750px
}
textarea {
  resize: none;
  border: none;
  width: 100%;
  padding: 10%;
  outline: 0;
  background-color: transparent;
  font-size: 2.0rem;
  font-family: var(--smFont);
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
}

.parchemin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

textarea::placeholder {
  color: gray;
}

/* NEED TO STYLE! */
textarea:valid {
  /* color: green; */
  border: none;
}

textarea:invalid {
  /* background: palegoldenrod; */
}

.inputArea button {
  z-index: 200;
}
button {
  width: 100%;
  height: 70px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-size: 2.0rem;
  font-family: var(--lgFont);
}


/* Error Message style */
.errorMessage {
  box-shadow: inset 0 0 10px var(--black);
  position: absolute;
  left: 0;
  top: 70%;
  z-index: 100;
  background-color: #fff;
}

.errorMessage h1 {
  font-size: 2.4rem;
  padding: 5px;
}

/* Main style */

main {
  padding: 50px 0;
}

ul {
  width: 100%;
}

li {
  box-shadow: inset 0 0 7px var(--black);
  border: none;
  border-radius: 5px;
  min-height: 250px;
  position: relative;
  margin-top: 40px;
  padding: 20px;
  background-color: var(--yellow);
  font-size: 1.4rem;
  overflow-wrap: break-word;
}

li img {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
  width: 150px;
  /* font-size: 2.5rem; */
  /* filter: drop-shadow(0.7px 0.7px 5px rgba(0,0,0, 0.5)); */
  color: var(--black);
}

footer {
  padding: 3px 0;
  background-color: var(--blue);
  font-size: 0.9rem;
  text-align: center;
}

footer,
footer a {
  color: var(--white);
}

footer p {
  margin-top: 0;
}