article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Play&display=swap');

/* Variables */
:root {
  --black: #333;
  --white: #cecece;
  --yellow: #d0b38b;
  --blue: #9ed2c5;
  --darkBlue: #A3B8D3;
  --neonBlue: #4469c0;
  --red: darkred;

  --lgFont: 'Play', sans-serif;
  --smFont: 'Patrick Hand', cursive;
}

/* base */
/* typography */
body {
  margin: 0;
  font-size: 125%;
  color: var(--white);
  font-family: var(--smFont);
  letter-spacing: 1px;
}

h1 {
  font-family: var(--lgFont);
  color: var(--white);
  margin-top: 0;
  font-size: 3.0rem;
  animation: blink 1.4s infinite alternate ease-in-out;
}

h1,
.headerContent p,
h2 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 2.0rem;
  animation: blink 10s infinite alternate ease-in-out;
}

.app {
  background-color: #333333;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23252521' fill-opacity='0.96'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid #000;
}

a {
  text-decoration: none;
  color: var(--black)
}

.wrapper {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

textarea:focus,
button:focus,
li:focus {
  outline: none;
}

/* animation */
@keyframes blink {   
  from {
    text-shadow: 0 0 10px var(--white), 0 0 20px var(--neonBlue), 0 0 30px var(--neonBlue), 0 0 40px var(--neonBlue) , 0 0 50px var(--neonBlue), 0 0 60px var(--neonBlue), 0 0 70px var(--neonBlue); 
  }
  to {
    text-shadow: 0 0 5px var(--white), 0 0 10px var(--neonBlue), 0 0 15px var(--neonBlue), 0 0 20px var(--neonBlue), 0 0 25px var(--neonBlue), 0 0 30px var(--neonBlue), 0 0 35px var(--neonBlue);
  }
}

/* header */
header {
  justify-content: space-between;
  margin-bottom: 100px;
}

header .wrapper {
  position: relative;
}

/* statue image and info icon */
picture,
.moreInfo {
  position: absolute;
}

picture {
  top: 0;
  left: 0;
}

picture .statueImg {
  width: 10%;
  padding-top: 15px;
}

/* more info button &exit button*/
.moreInfo,
.exitButton {
  width: 50px;
  border-radius: 0;
  background-color: transparent;
}

.moreInfo {
  right: 0;
  top: 7px;
}
.moreInfo:hover,
.moreInfo:focus,
.moreInfo:active,
.exitButton:hover,
.exitButton:focus,
.exitButton:active {
  background-color: transparent;
  border: none;
}

.moreInfo i {
  font-size: 2.0rem;
  color: var(--white);
}

.moreInfo:hover i,
.moreInfo:focus i {
  color: var(--neonBlue);
}

.moreInfo:active i {
  color: var(--darkBlue);
}

.exitButton {
  align-self: flex-end;
  height: 30px;
}

.exitButton:hover,
.exitButton:focus {
  color: var(--red);
  transform: scale(1.3);
}

.exitButton:active {
  transform: scale(1.5);
}

/* more info text content */
.moreInfoContent {
  position: absolute;
  top: 70px;
  padding: 10px 10px 50px;
  border: 5px solid var(--black);
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--black);

  display: flex;
  flex-direction: column;
}

.moreInfoContent p {
  margin: 20px 0;
}

.moreInfoContent .scribe {
  text-decoration: underline;
}

.moreInfoContent a:hover .scribe,
.moreInfoContent a:focus .scribe {
  color: var(--red);
  text-shadow: 0.5px 0.5px 0.5px var(--black);
}

.moreInfoContent a:active .scribe {
  color: var(--neonBlue);
}

/* header text content */
.headerContent {
  padding-top: 20%;
}

.headerContent p,
label {
  font-size: 1.5rem;
}

.headerContent .subTitle {
  margin: 60px 0 0;
}

/* input(textarea) */
form {
  margin-top: 70px;
}

.inputArea,
.parchemin {
  height: 500px;
} 

.inputArea{
  position: relative;
  width: 100%;
  margin: 10px 0;
  border: none;
}

textarea {
  resize: none;
  border: 1px solid transparent;
  box-shadow: none !important;
  position: absolute;
  top: 50px;
  left: 10%;
  width: 80%;
  height: 400px;
  padding: 5px;
  background-color: transparent;
  font-size: 1.4rem;
  z-index: 10;
}

textarea:focus {
  border: 1px solid var(--red);
}

.parchemin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

textarea:valid {
  border: 1px solid var(--black);
}

textarea:invalid {
  border: 1px dotted var(--black);
}

.headerContent .textareaInfo {
  margin: 5px 0;
  font-size: 1.0rem;
  text-align: left;
}
/* buttons */
.inputArea button {
  z-index: 200;
}

button {
  width: 100%;
  height: 70px;
  display: block;
  border: none;
  border-radius: 100px; 
  font-size: 2.0rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

header button {
  background-color: var(--blue);
}

header button:hover,
header button:focus {
  background-color: var(--darkBlue);
}

header button:active {
  background-color: var(--black);
  border: 5px solid var(--darkBlue);
  color: var(--darkBlue);

}

/* error message */
.errorMessage {
  width: 95%;
  padding: 30px 15px;
  margin: 0 auto;
  box-shadow: inset 0 0 10px var(--black);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  z-index: 100;
  background-color: var(--darkBlue);
  color: var(--black);
  text-align: center;
}

.errorMessage p {
  padding-bottom: 30px;
  font-size: 2.0rem;
  font-family: var(--lgFont);
}

.errorMessage button {
  background-color: var(--black);
  color: var(--white);
}

.errorMessage button:hover,
.errorMessage button:focus {
  background-color: var(--white);
  border: 5px solid var(--black);
  color: var(--black);
}

.errorMessage button:active {
  background-color: var(--darkBlue);
  border: 5px solid var(--black);
  color: var(--black);
}

/* delete option */
/* main style */

main {
  margin-bottom: 70px;
}

ul {
  width: 100%;
  margin: 0 auto;
}

/* delete option and messages*/
li,
.deleteOption {
  position: relative;
  box-shadow: inset 0 0 7px var(--black);
  border: 3px solid var(--black);
  border-radius: 5px;
  margin-top: 50px;
  padding: 20px;
  background-color: var(--yellow);
  color: var(--black);
  font-size: 1.2rem;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li:focus,
.deleteOption:focus {
  border: 3px solid var(--red);
}

.messageContainer,
.deleteOption {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messageContainer p:first-child {
  min-height: 210px;
}

.deleteOption {
  background-color: var(--darkBlue);
}

/* delete option buttons*/
.optionButtons {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.optionButtons button {
  border: 5px solid var(--black);
}

.deleteButton {
  margin-bottom: 10px;
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: var(--red);
  color: var(--white);
}

.deleteButton:active {
  background-color: var(--white);
  border: 5px solid var(--red);
  color: var(--black);
}

.postButton:hover,
.postButton:focus {
  background-color: var(--neonBlue);
  color: var(--white);
}

.postButton:active {
  background-color: var(--white);
  border: 5px solid var(--neonBlue);
  color: var(--black);
}


/* washi tape */
li img {
  width: 150px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
}

/* like button */
li button {
  border: none;
  border-radius: 0;
  width: 70px;
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 1.2rem;
}

/* like icon */
li button i {
  margin-right: 10px;
  transition: transform 0.2s linear;
}

li button:hover i,
li button:focus i {
  cursor: pointer;
  color: var(--red);
  transform: scale(1.3);
}

li button:active i {
  color: tomato;
}

/* footer */
footer {
  padding: 3px 0;
  background-color: var(--blue);
  color: var(--black);
  font-size: 0.8rem;
  text-align: center;
  font-family: var(--lgFont);
}

footer p {
  margin: 3px 0;
}

/* media query */

/* smallest screen: 320px */

@media (min-width: 700px) {

  /* header */
  picture .statueImg {
    width: 13%;
  }

  h1 {
    font-size: 3.2rem;
  }

  .headerContent p,
  label {
    font-size: 1.6rem;
  }

  form button {
    width: 80%;
    margin: 0 auto;
  }

  .inputArea,
  .parchemin {
    height: 400px;
  } 
  
  .inputArea {
    margin-top: 20px;
  }
  
  textarea {
    height: 300px;
    font-size: 1.7rem;
  }
  
  .moreInfoContent {
    font-size: 1.4rem;
  }


  /* main */
  .deleteOption,
  li {
    width: 80%;
    margin: 70px auto;
  }

  li,
  li button,
  .deleteOption {
    font-size: 1.6rem;
  }
}

@media (min-width: 900px) {
  /* header */
  header .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  picture {
    position: static;
    margin-right: 80px;
  }

  picture .statueImg {
    width: 100%;
    height: 100vh;
  }

  .headerContent {
    padding-top: 0;
  }
  
  .headerContent .subTitle {
    margin-top: 40px;
  }

  .headerContent p {
    text-align: left;
  }

  form {
    margin-top: 40px;
  }

  .inputArea,
  .parchemin {
    height: 320px;
  } 

  textarea {
    height: 230px;
    font-size: 1.4rem;
  }

  .errorMessage {
    width: 60%;
  }

  .errorMessage p {
    font-size: 2.4rem;
  }

  .errorMessage button {
    margin: 0 auto;
  }

  .moreInfoContent {
    font-size: 1.6rem;
    z-index: 200;
  }

  .moreInfoContent p {
    margin: 30px 10px 30px;
  }

  /* main */
  h2 {
    font-size: 3.0rem;
  }

  ul { 
    width: 70%;
  }
  
  .deleteOption {
    width: 56%;
  }

  .optionButtons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .deleteButton {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  /* header */
  h1 {
    font-size: 3.6rem;
  }

  .headerContent .subTitle {
    margin-top: 30px;
  }

  form {
    margin-top: 50px;
  }

  .inputArea,
  .parchemin {
    height: 200px;
  } 

  textarea {
    height: 150px;
    top: 20px;
  }

  header button {
    width: 50%;
  }

  /* main */
  h2 {
    font-size: 4.0rem;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    flex-basis: 45%;
    margin: 50px 0;
  }

  li:nth-child(2n) {
    margin-left: 10px;
  }

  /* footer */ 
  footer {
    font-size: 1.0rem;
  }
}